/* // @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600;1,700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-list {
    @apply grid grid-cols-navbar top-0 grid-rows-1 border-b-2 border-solid border-b-border-color h-20;
  }

  .mobile-navabr-list {
    @apply grid grid-rows-4 border-b-2 border-solid border-b-border-color h-[90%] fixed top-[10%] left-0 w-full bg-background-color;
  }

  .mobile-border {
    @apply border-b-2 border-solid border-b-border-color border-r-0;
  }

  .desktop-border {
    @apply border-r-2 border-solid border-r-border-color border-b-0;
  }
}

/* :root {
  background-color: $background-color;
} */

/* html,
body {
  padding: 0;
  margin: 0;
} */
