@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,600;1,700&display=swap");

$background-color: #2c2a31;
$font-color: #e4ddad;
$border-color: #e5a042;

:root {
  background-color: $background-color;
  font-family: "Raleway", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}
