@import "../../globals.scss";

$tranistion-time: 0.5s;

@mixin navbar-button-image($url-path: "") {
  background: url($url-path);
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  border: 0;
  aspect-ratio: 1;
  margin-top: 1.7rem;
  margin-right: 2rem;
  transition: $tranistion-time;
}

.navbar-wrapper {
  #burger-button,
  .name-container-mobile {
    display: none;
  }

  .navbar-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid $border-color;
    color: $font-color;

    .name-container {
      .name-text {
        padding-left: 2rem;
      }

      border-right: 2px solid $border-color;
    }

    .work-container {
      display: flex;
      justify-content: space-evenly;
    }

    .about-container {
      display: flex;
      justify-content: space-evenly;
      border-right: 2px solid $border-color;
    }

    .social-media-container {
      border-right: 2px solid $border-color;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .icon {
        width: 2rem;
        height: 2rem;
        color: $font-color;
      }
    }

    .contact-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .navbar-wrapper {
    .mobile-navbar {
      position: fixed;
      display: flex;
      justify-content: space-between;
      color: $font-color;
      border-bottom: 2px solid $border-color;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: $background-color;
    }

    .name-container-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0rem;
      margin-left: 1rem;
    }

    .name-container {
      display: none;
    }

    .navbar-list {
      position: fixed;
      display: grid;
      grid-template-rows: 0.5fr repeat(4, 1fr);
      grid-template-columns: 1fr;
      justify-content: center;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      margin: 0;
      transform: translateY(-100%);
      transition: $tranistion-time;
      background-color: $background-color;

      .work-container {
        grid-area: 2 / 1;
        align-items: center;
        border-bottom: 2px solid $border-color;
      }

      .about-container {
        grid-area: 3 / 1;
        align-items: center;
        border-bottom: 2px solid $border-color;
        border-right: none;
      }

      .social-media-container {
        grid-area: 4 / 1;
        border-bottom: 2px solid $border-color;
        border-right: none;
      }

      .contact-container {
        grid-area: 5 / 1;
      }
    }
  }
}

.toggle-button-burger {
  @include navbar-button-image("../../../public/navabr-icons/burger.svg");
}

.toggle-button-close {
  @include navbar-button-image("../../../public/navabr-icons/close.svg");
}

.navbar-list[data-is-active="false"] {
  transform: translateY(0%);
  transition: $tranistion-time;
}

#burger-button,
.name-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
