@import "../../globals.scss";

$tranistion-time: 0.5s;

@mixin navbar-button-image($url-path: "") {
  background: url($url-path);
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  border: 0;
  aspect-ratio: 1;
  margin-top: 1.7rem;
  margin-right: 2rem;
  transition: $tranistion-time;
}

.navbar-wrapper {
  #burger-button,
  .name-container-mobile {
    display: none;
  }

  .navbar-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid $border-color;
    color: $font-color;

    .name-container {
      .name-text {
        padding-left: 2rem;
      }

      border-right: 2px solid $border-color;
    }

    .options-container {
      display: flex;
      justify-content: space-evenly;
    }

    .about-container {
      display: flex;
      justify-content: space-evenly;
      border-right: 2px solid $border-color;
    }

    .social-media-container {
      border-right: 2px solid $border-color;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .icon {
        width: 2rem;
        height: 2rem;
        color: $font-color;
      }
    }

    .contact-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    color: $font-color;
    border-bottom: 2px solid $border-color;

    #burger-button,
    .name-container-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .name-container-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0rem;
      margin-left: 1rem;
    }

    .name-container {
      display: none;
    }

    .navbar-list {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10vh;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      margin: 0;
      transform: translateY(-100%);
      transition: $tranistion-time;
      background-color: $background-color;
    }

    .navbar-list[data-is-active="false"] {
      transform: translateY(0%);
      transition: $tranistion-time;
    }

    .toggle-button-burger {
      @include navbar-button-image("../../../public/navabr-icons/burger.svg");
    }

    .toggle-button-close {
      @include navbar-button-image("../../../public/navabr-icons/close.svg");
    }
  }
}
